@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.navbar-container{
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.30);
}

.navbar-container .active{
  border-radius: 15px;
  background: #FFF;
  padding: 14px 0px;
  min-width: 139px;
  color: black;
}

.header-container{
  background: url("/header_bg.png") no-repeat 80% center;
  background-position-y: 1%;
  background-size: cover;
  background-color: #010100;
}

.popup-form-container{
  z-index: 1000;
  background: url("/header_bg.png") no-repeat 80% center;
  background-position-y: 1%;
  background-size: cover;
}


.mockup-container{
  background: linear-gradient(132deg, #101010 15.8%, #000 86.6%);
  border-radius: 20px;
}

.choose-card{
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  gap: 14px;
}

.choose-card:nth-child(1), .choose-card:nth-child(4){
  background: #FFF;
}
.choose-card:nth-child(2), .choose-card:nth-child(3){
  background: #101010;
  color: white;
}

.testimonial-header-container{
  background: url("/testimonial_bg.png") center center no-repeat;
  background-size: cover;
}

.testimonial-card-container{
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.show-popup-form {
  /* animation: show-popup-form 0.5s ease-in-out forwards;
  transition: 0.5s all ease-in-out; */
  display: flex;
}

.blur-overlay{
  filter: blur(12.5px);
  /* opacity: 0.25; */
  z-index: -10;
  background: url("/header_bg.png") no-repeat 80% center;
  background-position-y: 1%;
  background-size: cover;
}

.show-mobile-nav {
  animation: show-mobile-nav 0.150s ease-in-out forwards;
  transition: 0.15ms all ease-in-out;
}

@keyframes show-popup-form {
  0%{
    display: flex;
    transform: translateX(-2000px);

  }
  100%{
    display: flex;
    transform: translateX(0px);
  }
}

@keyframes show-mobile-nav {
  0%{
    transform: translateY(-1000px);
    height: 0px;
  }
  100%{
    transform: translateY(0px);
    height: fit-content;
  }
}

@media screen and (max-width: 1024px) {
  .overlay{
    background: linear-gradient(180deg, #010100f7 4.15%, rgba(1, 1, 0, 0.00) 60.86%);
  }

  .header-container{
    background-size: unset;
  }

  .mobile-only{
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .main-content{
    height: calc(100vh - 200px);
  }
}

@layer components{
  .flex-center{
    @apply flex justify-center items-center;
  }

  .flex-between{
    @apply flex justify-between items-center;
  }

  .flex-col-start-between{
    @apply flex flex-col justify-between items-start;
  }

  .flex-start{
    @apply flex justify-start items-start;
  }

  .flex-evenly{
    @apply flex justify-evenly items-center;
  }

  .flex-start-col{
    @apply flex flex-col justify-start items-start;
  }

  .flex-center-col{
    @apply flex flex-col justify-center items-center;
  }

  .navbar-float{
    @apply fixed top-0 left-0 bg-secondary-black py-8;
  }

  .form-input{
    @apply outline-none border-none w-full bg-transparent text-form-input-text font-semibold font-poppins;
  }
}